{% extends "base.html" %}

{% load markup typogrify_tags email %}


{% block title %}Page not found &#183; {{ block.super }}{% endblock %}

{% block body_class %}error error-404{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}
{% filter typogrify %}

<div id="story">
<div id="article">
<h3>The page you requested could not be found</h3>
<p>If you think something should be here and it isn't, please email me at {{ superuser.email|encode_string|safe }}. Otherwise, it's probably best to return to the <a href="/">homepage</a> and look for things there.</p>
</div>
</div>

{% endfilter %}
{% endblock %}