{% extends "base.html" %}

{% load markup typogrify_tags email %}


{% block title %}Page error &#183; {{ block.super }}{% endblock %}

{% block body_class %}error error-500{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}
{% filter typogrify %}

<div id="story">
<div id="article">
<h3>Website error</h3>
<p>Uh-oh, something's wrong with the website. You had better email me at {{ superuser.email|encode_string|safe }} and tell me what's happening.</p>
</div>
</div>

{% endfilter %}
{% endblock %}